@font-face {
    font-family: "Kongshomj";
    src: url("/assets/fonts/KongshoMJRegular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    font-family: 'Hind Siliguri', sans-serif;
}

.fs-35px {
    font-size: 35px !important;
}

.home {
    background: url("/images/bg-01.png");
    background-size: cover;
}

.home .star {
    position: absolute;
    top: -15vh;
    width: 50vw;
    right: 0;
    z-index: -999;
}

@media screen and (max-width: 768px) {
    .home .nimonic {
        margin-top: 5vh;
        margin-bottom: 13vh !important;
    }
    .home .star {
        position: absolute;
        top: 0px;
        width: 65vw;
        right: 14px;
        z-index: -999;
    }
}

@keyframes bop {
    0% {
        transform: scale(0.9);
    }
    80%,
    100% {
        transform: scale(1) rotateZ(0deg);
    }
}

@keyframes fly-cycle {
    100% {
        background-position: -900px 0;
    }
}

.home .get-start {
    background-color: red;
    background-image: linear-gradient(to right, #000e14, #002e43, #000e14);
    border: white 3px solid;
    padding: 2vh 8vw;
    padding-top: 2.6vh;
    font-weight: bolder;
    font-size: 25px;
    border-radius: 50px;
    animation: bop 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}